<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	                    http://www.springframework.org/schema/tx
	                    http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
	                    http://www.springframework.org/schema/mvc
	                    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
	                    http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd"
	default-autowire="byName">
	<!-- 
		SpringMVC配置的Schema
		xmlns:mvc="http://www.springframework.org/schema/mvc"  
		xsi:schemaLocation="http://www.springframework.org/schema/beans/mvc
	                    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd"
		声明式事务                   
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans/tx
	                    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
	 -->
	<!-- SpringMVC注解驱动 -->
	<mvc:annotation-driven/>
	<!-- 注解扫描 Spring Bean-->
	<context:component-scan base-package="com.zkn.learnspringmvc.controller"/>
	<!-- DefaultAnnotationHandlerMapping从3.1之后被标注为过期,3.1之后用 RequestMappingHandlerMapping  -->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>
	
	<!-- 请求处理映射器  beanName映射器  将Controller包装为HandlerExecutionChain-->
	<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
	<!-- 调用Controller中的处理器方法  -->
	<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>
	<bean name="/beanUrlName" class="com.zkn.learnspringmvc.controller.BeanNameURLController"></bean>
	<!-- 
		类名称控制器  注意访问的时候是 /classname 全部是小写的。Controller不用写。
		和bean的名字没关系，只和类的名字有关系。
	 -->
	<bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping"/>
	<bean name="className" class="com.zkn.learnspringmvc.controller.ClassNameController"/>
	<!-- 
		bean名字控制器  和bean的名字有关系和类的名字没有关系   可以和ControllerClassNameHandlerMapping 相互对比记忆
	 -->
	<bean class="org.springframework.web.servlet.mvc.support.ControllerBeanNameHandlerMapping"/>
	<bean name="beanName" class="com.zkn.learnspringmvc.controller.BeanNameController"/>
	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping"/>
	
	<!-- 加载静态资源 -->
	<mvc:resources location="/static/" mapping="/static/**"/>
	
	<!-- 视图解析器 常用的还有 VelocityViewResolver、FreeMarkerViewResolver -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
</beans>
	